
h1{
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    padding: 3%;
}
p{
    font-size: 16px;
    text-align: justify;
    margin-bottom: 15px;
}

/*Clases Fuera de Tabla*/

.titulo{
    color: #cc8e35;
}

/*Clases Tabla*/

.horariosTable{
    background-color: #292929;
    width: 80%;
    margin: 2%;
    padding: 0%, 5%;
    align-self: center;
    color: #cc8e35
}

.datoTable{
    text-align: center;
}

.vs{
    width: 1%;
}

.equipo{
    width: 35%;    
    text-align: center;
    border: #cc8e35;
    border-width: 1%;
}

.hora{
    width: 29%;
}

.tableTitle{
    font-size: 18;
    font-style: unset;
}

/*Fin clases Tabla*/

/*Fondos*/
.background{
    background-attachment: fixed;
}