h2{
    text-align: center;
    margin-bottom: 5px;
}

p {
    text-align: center;
    line-height: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
a{
    display: inline-block;
}
span {
    cursor: pointer;
}

textarea {
    resize: none;
}

section h2 {
    font-size: 28px;
}
section p {
    margin-bottom: 20px;
    padding-bottom: 20px;
    line-height: 25px;
}
/* Inicio estilos boton */
.button {
    background-color: #130f40; 
    color: white; 
    border: 1px solid #130f40;
    margin-left: 40%;
    margin-bottom: 20px;
    width: 20%; 
}

.buttonLargo {
    width: 40%; 
    margin-left: 30%;
}

.button:hover {
    background-color: #30336b;
    color: white;
}
/* Fin estilos boton */

/* Inicio estilos Fieldsets */
fieldset{
  background-color:#fff;
  padding: 20px;	
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}

.fieldset {
    border:2px solid #ccc;;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}
/* Fin estilos fieldset */

/* Inicio estilos form*/
body main form {
    width: 100%;
}
body main div #txtBuscar{
    width: 50%;
    margin-bottom: 20px;
    display: inline-block;
}
body main fieldset{
    margin-bottom: 20px;
}
body main fieldset label{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}
body main fieldset div #lstRequisitos {
    width: 100%;
    display: inline-block;
    margin-left: 0px;
}
body main fieldset div #lstRequisitos label{
    width: 95%;
    display: inline-block;
}
body main fieldset div #lstRequisitos input{
    width: 5%;
    display: inline-block;
}
body main fieldset input{
    border: none;
    outline-style: none;
    border-bottom: 1px solid #260536;
    font-size: 14px;
    width: 90%;
    display: inline-block;
    text-align: center;
}
body main fieldset input::-webkit-input-placeholder{
    color: #130f40;
}
body main fieldset input:focus, textarea:focus {
    background-color: #ddd;
}
body main fieldset select{
    font-size: 14px;
    width: 90%;
    display: inline-block;
}
body main fieldset div {
    width: 35%;
    display: inline-block;
    margin-bottom: 40px;
    margin-left: 7.5%;
    margin-right: 5%;
}
.enlazar {
    width: 80%;
}
.inputLargo{
    width: 85%;
    padding: 0px 10px 0px 0px;
    box-sizing: border-box;
}
body main fieldset div textarea{
    width: 99%;
    height: 100px;
}

body main fieldset h3 {
    margin-bottom: 15px;
}
body main fieldset i {
    width: 3%;
    margin-right: 5%;
    color: #30336b;
}
body main fieldset #labelRequerido {
    margin-bottom: 15px;
    font-size: 10px;
    width: 100%;
    text-align: center;
}
.labelError{
    display: inline;
    font-size: 12px;
}
body main fieldset div #lstCursosAsignados {
    width: 100%;
    display: inline-block;
    margin-left: 0px;
}
body main fieldset div #lstCursosAsignados label{
    width: 95%;
    display: inline-block;
}
body main fieldset div #lstCursosAsignados input{
    width: 5%;
    display: inline-block;
}
body main fieldset div #lstCursosPorAsignar {
    width: 100%;
    display: inline-block;
    margin-left: 0px;
}
body main fieldset div #lstCursosPorAsignar label{
    width: 95%;
    display: inline-block;
}
body main fieldset div #lstCursosPorAsignar input{
    width: 5%;
    display: inline-block;
}

/* Fin estilos form */

/* Inicio estilos lstRequisitos */
main div #lstRequisitos{
    margin-top: 10px;
}
/* Fin estilos lstRequisitos */

/* Inicio estilos lstHorarios */
main div #lstHorarios{
    margin-top: 10px;
}
fieldset div #lstHorarios label{
    width: 90%;
    display: inline-block;
}
body main .checkbox{
    width: 5%;
    display: inline-block;
}
/* Fin estilos lstHorarios */

#btnPestanna{
    width: 90%;
    margin-left: 5%;
}
#btnPestanna button{
    width: 48%;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}
.visibleIB{
    display: inline-block;
}

 /* Inicio estilos Mapa */
.mapaSede {  
    width: 70%;
    height: 300px;
    border: 1px solid #BEBEBE;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    animation: grande 1s ease;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
}

@keyframes grande {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1);
    }
}
input#coordenadas {
  margin: 1px;
  font-size: 1rem;
}
/* Fin estilos Mapa */

/* Inicio estilos footer */
footer{
    background-color: #172815;
    height: 25px;
    padding: 24px 0px;
    color: #fff;
    text-align: center;
}
/* Fin estilos footer */



/******************* Toggle Switch **************************/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #30336b;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #30336b;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /********************************* ********************************************/

  .listaVacia {
      display: none;
  }


  /* Inicio estilos tooltip */
  .tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90%;
    background-color: #130f40;
    color: #fff;
    font-size: 10px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 25%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #130f40 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* Fin estilos tooltip */