/*Inicio estilos mantenimiento */
main div .mantenimiento{
    width: 10%;
    margin-left: 20%;
    text-align: center;
}
main div h2{
    width: 60%;
    margin-left: 20%;
    margin-top: 100px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
/* Fin estilos mantenimiento */