html{
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
html h1{
    font-size: 22px;
    font-weight: bold;
}

/* Inicio estilos header */
div.header {
    background-color: #282828;
    color: white;
    height: 100px;
    overflow: hidden;
    padding: 14px, 0px, 14px, 14px;
    position: relative;
    text-decoration: none;
    width: 100%;
}

div.headerDerecha{
    float: right;
}
/* Fin estilos header */

/* Inicio estilos de menú de navegación */
div.menuGeneral {
    background-color: #333;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

div.menuGeneral a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    width: 15%;
}

div.menuGeneral a:hover {
    background-color: #777;
}
/* Fin estilos menú de navegación*/

.errorInput{
    border: 2px solid #d63031;
}